{% extends "AppHospital/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
<body>
    

    {% if pacientes %}
        <p>Buscando</p>
        <ul>
            {% for paciente in pacientes %}
                
                    <p>Nombre del Paciente: <i>{{ paciente.nombre }}</i></p>
                    <p>Apellido: <i>{{ paciente.apellido }}</i></p>
                    <p>DNI: <i>{{ paciente.dni }}</i></p>
                    <p>SEXO: <i>{{ paciente.sexo }}</i></p>
                    <p>email: <i>{{ paciente.email }}</i></p>
                    <p>Fecha de Ingreso: <i>{{ paciente.fechaDeIngreso }}</i></p>

           
            {% endfor %}
        </ul>
    {% else %}
        <p>No se ha encontrado al paciente</p>
    {% endif %}
</body>
</html>

{% endblock %}