<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente Detalle</title>
</head>
<body>

   
    <p>Nombre del Paciente: <i>{{ paciente.nombre }}</i></p>
    <p>Apellido: <i>{{ paciente.apellido }}</i></p>
    <p>DNI: <i>{{ paciente.dni }}</i></p>
    <p>SEXO: <i>{{ paciente.sexo }}</i></p>
    <p>email: <i>{{ paciente.email }}</i></p>
    <p>Fecha de Ingreso: <i>{{ paciente.fechaDeIngreso }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>
